<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated genalogyModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="genalogyModel.presentation.GenalogyModelModelWizardID"
            name="%_UI_GenalogyModelModelWizard_label"
            class="genalogyModel.presentation.GenalogyModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GenalogyModelModelFile.gif">
         <description>%_UI_GenalogyModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated genalogyModel -->
      <editor
            id="genalogyModel.presentation.GenalogyModelEditorID"
            name="%_UI_GenalogyModelEditor_label"
            icon="icons/full/obj16/GenalogyModelModelFile.gif"
            extensions="genalogymodel"
            class="genalogyModel.presentation.GenalogyModelEditor"
            contributorClass="genalogyModel.presentation.GenalogyModelActionBarContributor">
      </editor>
   </extension>

</plugin>
